<div ng-controller="ContactController as vm">
    <md-dialog aria-label="List dialog" style="max-width: 450px">
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <h2>
                    <span>Contact me</span>
                </h2>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-content class="md-padding">
                <div layout-margin="10">
                    <div flex layout="row" layout-align="center center">
                        <md-content class="md-padding">
                            <form name="contactForm" layout-fill>
                                <md-input-container layout-fill>
                                    <label>Name:</label>
                                    <input ng-model="vm.form.name" required>
                                </md-input-container>
                                <md-input-container layout-fill>
                                    <label>Email:</label>
                                    <input type="email" ng-model="vm.form.email" required>
                                </md-input-container>

                                <md-input-container layout-fill>
                                    <label>Message:</label>
                                    <textarea ng-model="vm.form.message"  md-maxlength="250" maxlength="250" required></textarea>
                                </md-input-container>
                            </form>
                        </md-content>
                    </div>
                </div>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button ng-click="vm.closeDialog()" class="md-primary">
                Cancel
            </md-button>
            <md-button ng-click="contactForm.$dirty && contactForm.$valid && vm.sendMail(contactForm)" class="md-primary"
                       ng-class="{'md-raised': (contactForm.$dirty && contactForm.$valid)}"
                       ng-disabled="(!contactForm.$valid)"
                       aria-label="submit">Send
            </md-button>
        </md-dialog-actions>
    </md-dialog>
</div>