.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
    color: white; }


/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/*
https://www.google.com/design/spec/style/color.html#color-color-palette
*/
.backgroundColor{
    background-color: #E8EAF6!important;
}

md-card {
    background: white;
    position: relative;
    z-index: 2;
}

.u-overflow-fix {
    overflow:visible;
}

md-toolbar.md-extra-tall {
    height: 220px;
    min-height: 220px;
    max-height: 220px;
}

/*
    icon doesn't have a circle radius
*/
md-list-item .md-avatar.icon-no-radius{
    border-radius: 0;
}

/*
    bold education degree
*/

md-list md-list-item.md-3-line .md-list-item-text p.education{
    font-weight: bold;
    color:black;
    font-size: 100%;
}


md-list md-list-item.md-3-line .md-list-item-text p.education-year{
    font-style: italic;
}

.frameCard {
    background: white;
    position: relative;
    z-index: 2;
    border-radius: 2px;
    display: block;
    margin: 10px;
}

md-content.white {
    background-color: white;
}

div.contentContainer {
    margin-top: -160px;
}

.md-card-contentCustom{
    display: block;
    padding: 0 16px 16px;
}