<div layout="row" layout-xs="column" layout-align="center" layout-wrap class="u-overflow-fix contentContainer">
    <div class="md-padding" layout-xs="column" layout="row" md-colors="{background: 'default-primary-50'}">
        <div style="max-width: 700px">
            <div md-whiteframe="2" class="frameCard"
                 ng-class="{'md-whiteframe-10dp': mapCard}"
                 ng-mouseenter="mapCard = true"
                 ng-mouseleave="mapCard = false">
                <div style="display: block;padding: 16px">
                    <h2>{{vm.headerTitle}}</h2>
                </div>
                <div style="display: table">
                    <ng-map style="margin-top: -16px" center="45.497395, -73.579036" zoom="15" tilt="45"></ng-map>
                    <p class="" style="display: block;padding: 16px">
                        {{vm.message}}
                    </p>
                </div>
            </div>
        </div>
        <div style="max-width: 700px">
            <div md-whiteframe="2" class="frameCard" style="min-width: 350px"
                 ng-class="{'md-whiteframe-10dp': CONTACT}"
                 ng-mouseenter="CONTACT = true"
                 ng-mouseleave="CONTACT = false">
                <div style="display: table" layout-fill>
                    <div flex layout="row" layout-align="center center"  layout-fill>
                        <md-content class="md-padding white" layout-fill>
                            <form name="contactForm">
                                <md-input-container class="md-block">
                                    <label>Name:</label>
                                    <input ng-model="vm.form.name" required>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Email:</label>
                                    <input type="email" ng-model="vm.form.email" required>
                                </md-input-container>

                                <md-input-container class="md-block">
                                    <label>Message:</label>
                                    <textarea ng-model="vm.form.message"  md-maxlength="250" maxlength="250" required></textarea>
                                </md-input-container>

                                <md-button ng-click="contactForm.$dirty && contactForm.$valid && vm.sendMail()" class="md-primary md-raised"
                                           ng-class="{'md-raised': (contactForm.$dirty && contactForm.$valid)}"
                                           ng-disabled="(!contactForm.$valid)"
                                           aria-label="submit">Send
                                </md-button>
                            </form>
                        </md-content>
                    </div>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>